{% extends 'base.html' %}
{% block title %}Prescribe Page{% endblock %}
{% block content %}
<section class="text-gray-600 body-font">
  <div class="p-2 w-full">
    <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" onclick="location.href='{% url 'prescribe' %}'">Prescribe</button>
    <br>
    <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" onclick="location.href='{% url 'prescription_page' %}'">View Prescription</button>
  </div>
</section>
{% endblock %}

